@import "./sass-variables.sass"

.albumSliderItem
    position: relative
    margin-right: 5vw

    .img
        width: 190px
        height: 190px
        img
            width: 190px
            height: 190px
    .sliderYear
        position: absolute
        top: -35px
        left: -40px
        color: rgba($cfifth, 0.48)
        -webkit-text-stroke-width: 1px
        -webkit-text-stroke-color: $cfourth
        font-size: 60px
        font-weight: 800
    p
        width: 190px
        color: $csecond
        font-size: 18px
        span
            font-weight: 600
        span:last-child
            font-weight: 400


