@import "./sass-variables.sass"

.randomAmount
    display: flex
    justify-content: center
    width: 80%
    margin: auto
    flex-wrap: wrap

    a
        text-decoration: none
        color: #003399

.albumList
    position: relative
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: center
    width: 80%
    margin: auto
    margin-top: 45px
    z-index: 2

.info
    color: #003399
    font-size: 20px
    font-weight: bold
    width: 300px
    min-width: 300px
    margin: 0 70px 20px 70px
    border-radius: 20px
    background-color: white
    text-align: center

    a.active
        color: #3399FF

.amount
    padding: 15px 20px
    cursor: default

.search
    display: flex
    justify-content: space-around
    padding: 10px 20px 10px 20px
    span
        border: 0
        background-color: white
        color: #003399
        font-size: 30px
        cursor: pointer
        outline: none
        &:hover
            color: #3399FF

.randomAmount
    margin-top: 90px
    color: $csecond
    .random
        padding: 5px 20px 15px 20px
        cursor: pointer

        span
            border: 0
            background-color: white
            font-size: 30px
            outline: none

#albumSites
    position: relative
    display: flex
    place-items: center
    justify-content: center
    width: 100%
    margin-top: 45px
    z-index: 5
    span
        margin: 0 25px
        color: rgba($cfifth, 0.48)
        font-size: 60px
        font-weight: 800
        -webkit-text-stroke-width: 1px
        -webkit-text-stroke-color: $cfourth
        cursor: pointer
        &:hover
            color: $clight
    ul
        display: flex
        margin: 0px
        padding: 0px
        list-style: none
        li
            margin: 0 25px
            color: rgba($csix, 0.5)
            font-size: 24px
            cursor: pointer
            &:hover
                color: rgba($csix, 1)
