
.App
    display: flex
    flex-direction: column
    background-color: rgba(0,51,153,0.8)
    min-height: 100vh

h1
    text-align: center
    font-size: 60px
    color: white
    margin: 20px

.naviList
    display: flex
    list-style: none
    justify-content: space-around
    width: 80%
    margin: auto
    margin-bottom: 20px
    padding: 20px 20px
    border: 5px solid #3399FF
    background-color: white
    border-radius: 20px

    li
        font-size: 20px
        text-align: center
        border-right: 5px solid #3399FF
        flex-grow: 1
        font-weight: bold

        a
            text-decoration: none
            color: #003399

    li:hover
        a
            text-decoration: none
            color: #3399FF

    li:last-child
        border: 0

@media (max-width: 700px)
    h1
        font-size: 40px

    .naviList
        margin-bottom: 10px

        li
            font-size: 10px
            text-align: center
            border-right: 5px solid #3399FF
            flex-grow: 1
            font-weight: bold
