@import "./sass-variables.sass"

#decadeSlider
    box-sizing: border-box
    position: relative
    display: flex
    justify-content: center
    width: 100%
    height: 90px
    margin: 0
    padding: 0
    margin-top: 90px
    z-index: 3
    #decadeListContainer
        position: relative
        overflow: hidden
        width: 900px
        height: 87px
        ul
            position: absolute
            left: 50%
            transform: translateX(-50%)
            display: flex
            margin: 0
            padding: 0
            list-style: none
            z-index: 2
            transition: 0.5s ease
            li
                min-width: 250px
                height: 87px
                margin-left: 50px
                margin-right: 50px
                color: rgba($csix, 0.5)
                font-size: 45px
                font-weight: 700
                text-align: center
                line-height: 87px

            .active
                color: $csecond
    #activeContainer
        position: absolute
        left: 50%
        transform: translateX(-50%)
        display: flex
        align-items: center
        z-index: 1
        div
            height: 87px
            width: 285px
            background-color: $clight
            border: 1px solid $cborder
    #decadeArrows
        position: absolute
        left: 50%
        transform: translateX(-50%)
        display: flex
        justify-content: space-between
        align-items: center
        width: 400px
        z-index: 3
        a
            margin: 0px
            color: rgba($cfifth, 0.48)
            font-size: 60px
            font-weight: 700
            text-decoration: none
            -webkit-text-stroke-width: 1px
            -webkit-text-stroke-color: $cfourth
            line-height: 87px
            cursor: pointer
            &:hover
                color: $clight

@media(max-width: 1100px)
    #decadeSlider
        height: 70px
        margin-top: 80px
        #decadeListContainer
            width: 630px
            height: 80px
            ul
                li
                    min-width: 150px
                    height: 60px
                    margin-left: 50px
                    margin-right: 50px
                    font-size: 35px
        #activeContainer
            div
                height: 87px
                width: 200px
        #decadeArrows
            top: -5px
            width: 300px

@media(max-width: 650px)
    #decadeSlider
        margin-top: 45px
        #decadeListContainer
            ul
                li
                    min-width: 100px
                    margin-left: 40px
                    margin-right: 40px
                    font-size: 25px
        #activeContainer
            top: 10px
            div
                height: 65px
                width: 150px
        #decadeArrows
            width: 250px
