@import "./sass-variables.sass"

#header
    display: flex
    #headerImageContainer
        position: relative
        width: 50vw
        .blob
            position: absolute
            top: 35px
            right: 50px
            z-index: 1
        #play
            position: absolute
            top: 60px
            right: 50px
            z-index: 2
        .wave
            position: absolute
            z-index: 3
        #wave1
            top: 230px
            right: 20px
        #wave2
            top: 320px
            right: 110px
        #wave3
            top: 40px
            right: -700px
        #wave4
            top: 10px
            right: -830px

    #headerTextContainer
        width: 50vw
        z-index: 5
        .naviList
            display: flex
            list-style: none
            // justify-content: space-around
            margin: 0px
            margin-top: 50px
            padding: 0
            // border: 2px solid green            

            li
                margin-right: 35px

                a
                    color: rgba($cfourth, 0.3)
                    font-size: 20px
                    font-weight: 800
                    text-decoration: none
                    // color: #003399
                    // -webkit-text-fill-color: $cMain
                    -webkit-text-stroke-width: 1px
                    -webkit-text-stroke-color: $cthird
                    // text-shadow: -1px -1px 0 #000,  1px -1px 0 #000,-1px 1px 0 #000, 1px 1px 0 #000;      
                        
            li:first-child
                margin-right: 60px
            
        h1
            margin: 0px
            margin-top: 90px
            color: $csecond
            font-size: 90px
            font-weight: 800
            line-height: 78px
        h3
            margin: 0px
            margin-top: 10px
            color: $cthird
            font-size: 28px
            font-weight: 300
        #albumSlider
            position: relative
            display: flex
            align-items: center
            margin-top: 95px
            #sliderArrows
                position: absolute
                top: 50px
                left: -60px
                display: flex
                justify-content: space-between
                width: 600px
                .sliderArrow
                    // margin: 0 200px
                    color: rgba($cfifth, 0.48)
                    font-size: 60px
                    font-weight: 800
                    -webkit-text-stroke-width: 1px
                    -webkit-text-stroke-color: $cfourth
                    line-height: 87px
                    cursor: pointer
                    &:hover
                        color: $clight


