@import "./sass-variables.sass"

#header
    display: flex
    #headerImageContainer
        width: 50vw
    #headerTextContainer
        width: 50vw
        .naviList
            display: flex
            list-style: none
            // justify-content: space-around
            margin: 0px
            margin-top: 50px
            padding: 0
            // border: 2px solid green            

            li
                margin-right: 35px

                a
                    color: rgba($cfourth, 0.3)
                    font-size: 20px
                    font-weight: 800
                    text-decoration: none
                    // color: #003399
                    // -webkit-text-fill-color: $cMain
                    -webkit-text-stroke-width: 1px
                    -webkit-text-stroke-color: $cthird
                    // text-shadow: -1px -1px 0 #000,  1px -1px 0 #000,-1px 1px 0 #000, 1px 1px 0 #000;      
                        
            li:first-child
                margin-right: 60px
            
        h1
            margin: 0px
            margin-top: 90px
            color: $csecond
            font-size: 90px
            font-weight: 800
            line-height: 78px
        h3
            margin: 0px
            margin-top: 10px
            color: $cthird
            font-size: 28px
            font-weight: 300
        #albumSlider
            display: flex
            margin-top: 95px



@media (max-width: 700px)
    h1
        font-size: 40px

    .naviList
        margin-bottom: 10px

        li
            font-size: 10px
            text-align: center
            border-right: 5px solid #3399FF
            flex-grow: 1
            font-weight: bold

